*,
*::before,
*::after {
  box-sizing: border-box;
  border-collapse: collapse;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #dfd #ddf;
  scrollbar-width: thin;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: #ddf;
  margin: 0;
}

main {
  scroll-snap-stop: always;
  scroll-snap-type: y mandatory;
}

header {
  backdrop-filter: blur(0.25rem);
  position: fixed;
  width: 100%;
  z-index: 10;
}

menu {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding-inline: 0;
  width: 100%;
}

menu > li {
  padding: 1rem;
}

menu a {
  text-decoration: none;
}

section {
  display: grid;
  height: 100vh;
  place-items: center;
  scroll-snap-align: center;
}

h1 {
  color: white;
  text-shadow: 1px 1px black, -1px -1px black;
  font-size: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    animation: switch-colors linear;
    animation-timeline: scroll();
  }

  body {
    animation: color-fade linear forwards;
    animation-timeline: scroll();
  }

  h1 {
    animation: fade-in linear;
    animation-timeline: view(50% 0%);
  }

  @keyframes color-fade {
    to {
      background-color: #dfd;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes switch-colors {
    to {
      scrollbar-color: #ddf #dfd;
    }
  }
}
